---
import Blog from '../../layouts/Blog.astro';
---

<Blog nextUrlText="" nextUrl='' priorUrlText='' priorUrl='', relatedLinks={[]}>
  <h2>Why the blog name?</h2>
  <p>
    Motivation is strange. 

    Yet we're expected to "just have it". 
  </p>

  <p>
    "Fire in a rainstorm" is in many way a reference to the strangeness of motivation. The core reasoning for starting this
    blog is that getting in a habit of writing on topics and presenting them to the world will build momentum 
    and motivation to continue working on more projects. 

    In short, "Fire" in this metaphor is a motivation for being able to consistenly work on projects and ideas that I find engaging. 
    The "rainstorm" are the distractions and challenges to prioritize and focus. Considering how many industries 
    surrounding us are designed to distract us as much as possible, it's a challenge to keep the fire burning.
  </p>
  <p>
    This blog will primarily focus on my interests, much of which will be related to software and hardware development, but 
    I hope to be able to also add articles regarding history, politics, economics, and other topics that I find interesting. 
  </p>
  <p>
    At this early stage, I'm at the "smashing two pieces of tinder together fruitlessly" portion of this journey. But 
    with consistent entries, I hope this will change.
  </p>
</Blog>