  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 500 50" class="cursor-pointer">
    <a href="/">
    <text x="0%" y="50%" dominant-baseline="center" text-anchor="left" font-size="20" fill="url(#gradient)">
      Fire in a rainstorm
    </text>
    <text x="3%" y="70%" dominant-baseline="center" text-anchor="left" font-size="8" fill="rgb(var(--text-primary))">
      Tech and political economy
    </text>		
    <defs>
      <linearGradient id="gradient" x1="0%" y1="0%" x2="100%" y2="0%">
        <stop offset="0%" stop-color="#FF4500" />
        <stop offset="100%" stop-color="#FF8C00" />
      </linearGradient>
    </defs>
    </a>
  </svg>
</div>
<style>
  .hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgb(var(--bg-primary));
    color: rgb(var(--text-primary));
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
    text-align: center;
  }
  .hero text {
		font-family: 'Nanum Gothic', sans-serif;
	}
</style>