---
interface Props {
  relatedLinks: Array<{ url: string; title: string }>;
}

const { relatedLinks } = Astro.props;
---

<div>
  <h3>Related Links</h1>
  <ul class="list-none pl-0">
    <li>First</li>
    <li>Second</li>
    <li>Third</li>
  </ul>
{relatedLinks.length > 0 && (
  <ul>
    {relatedLinks.map((link) => {
      return (
        <li>
          <a href={link.url}>{link.title}</a>
        </li>
      )
    })}
  </ul>
)}
</div>